# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
*.user
_ReSharper.*/
Bin/
Debug/
Release/
ClientBin/
tmp/
*.cache
*.docstates
*.idb
*.pdb
ipch/
*_Spliced.*
.metadata/
.dotnet/
target/
# mstest test results
TestResults
/src/VersionInfo.cs
.vs/
.idea/
*.DotSettings
src/Documentation
src/packages/
src/VersionInfo.cs
/tools/
src.old/
src/Prolog/Redistribute/
